<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>答题入口</title>
    {% load staticfiles %}
    {% load dict_op %}
    <link rel="stylesheet" type="text/css" href="{% static 'exam/bootstrap.min.css' %}" />
    <script src="{% static 'exam/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'exam/bootstrap.min.js' %}"></script>
    <script src="{% static 'exam/highcharts.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<style>
    .text-align
    {
        margin-left: 32%;
    }
</style>

<body>
<div class="container text-center">
    <h1>填写信息</h1>
</div>
<div class="container text-right">
    <p>--场内观众</p>
</div>

<div class="container">

</div>

<div class="container text-left">
    <hr>
    <label class="text-align">您的姓名<font style="color: orangered;">*</font>: <input id="input-name"></label>
    <br>
    <label class="text-align">您的手机号码<font style="color: orangered;">*</font>: <input id="input-phone"></label>
    <hr>

    <label class="text-align">您的工作单位: <input id="input-workplace"></label>
    <br>
    <label class="text-align">您的年资: </label>
    <div class="dropdown" style="display: inline">
        <button id="btn-new-atom-key" class="btn btn-default btn-xs" type="button" data-toggle="dropdown" data-key="">请选择<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="li-new-atom-key" data-key="{{ key.obj }}"><a>初级医师</a></li>
            <li class="li-new-atom-key" data-key="{{ key.obj }}"><a>中级医师</a></li>
            <li class="li-new-atom-key" data-key="{{ key.obj }}"><a>高级医师</a></li>
            <li class="li-new-atom-key" data-key="{{ key.obj }}"><a>其他</a></li>
        </ul>
    </div>
    <hr>

{#    <label>观众类别<font style="color: orangered;">*</font>: </label>#}
{#    <label class="radio-inline">#}
{#        <input id="input-side-in" type="radio" name="radio-side" value="1">场内观众#}
{#    </label>#}
{#    <label class="radio-inline">#}
{#        <input id="input-side-out" type="radio" name="radio-side" value="2">场外观众#}
{#    </label>#}
{#    <br>#}

</div>

<div class="container text-center">
    <textarea id="text-addr" style="width: 300px;height: 100px;" placeholder="请填写奖品寄送地址和联系人" hidden></textarea>
    <br>
    <button id="btn-begin-answer" class="btn btn-primary">提交并开始答题</button>
</div>

</body>

</html>

<script>
    $("#input-phone").focus();

    $("[name='radio-side']").click(function () {
        var side_click = $(this).val();
        if (side_click === "1") {
            $('#text-addr').hide();
        }
        if (side_click === "2") {
            $('#text-addr').show();
        }
    });


    $('#btn-begin-answer').on('click', function () {
        // judge can submit
        var phone = $('#input-phone').val();
        if (phone === '') {
            alert('手机号码不可不填');
            return;
        }
        var radio_side = $("[name='radio-side']").filter(":checked");
        if (radio_side.length === 0) {
            alert('请选择观众类型');
            return;
        }
        var side = radio_side.val();
        var addr = $('#text-addr').val();
        $.ajax({
            url: "/exam/ajax-create-user",
            method: "POST",
            data: {phone: phone, user_type: side, address: addr},
            success: function (msg) {
                window.location.href = "answer?exam={{ exam_id }}&user="+msg;
            },
            error: function(jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            }
        });

    });

</script>