<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>在线答题</title>
    {% load staticfiles %}
    {% load dict_op %}
    <link rel="stylesheet" type="text/css" href="{% static 'exam/bootstrap.min.css' %}" />
    <script src="{% static 'exam/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'exam/bootstrap.min.js' %}"></script>
    <script src="{% static 'exam/highcharts.js' %}"></script>
</head>

<body>
<div class="container text-center">
    <h1>{{ exam.title }}</h1>
</div>

<div class="container">
    {% for question in questions %}
        {% with material=materials|key:question.id %}
        {% for option in material.options %}
            <label class="radio-inline">
                <input type="radio"  value="1" name="options">{{ option }}
            </label>
        {% endfor %}
        <br>
        {% for image in material.images %}
            <img style="width: 150px;height: 150px;margin-right: 20px" src="/statics/{{ image }}">
        {% endfor %}
        {% endwith %}
    {% endfor %}
</div>

<div class="container text-center">
    <hr>
    <button class="btn btn-primary">提交答卷</button>
</div>

</body>

</html>