<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>在线答题</title>
    {% load staticfiles %}
    {% load dict_op %}
    <link rel="stylesheet" type="text/css" href="{% static 'exam/bootstrap.min.css' %}" />
    <script src="{% static 'exam/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'exam/bootstrap.min.js' %}"></script>
    <script src="{% static 'exam/highcharts.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
<div class="container text-center">
    <h1>{{ exam.title }}</h1>
</div>

<div class="container">
    {% for question in questions %}
        <hr>
        {% with index=forloop.counter %}
        <label>{{ index }}、</label>
        {% with material=materials|key:question.id %}
        {% for option in material.options %}
            {% with option_index=forloop.counter %}
            <label class="radio-inline">
                <input class="radio-option" type="radio"  value="{{ option_index }}" name="radio-question-{{ index }}" data-index="{{ index }}">{{ option }}
            </label>
            {% endwith %}
        {% endfor %}
        <br>
        {% if question.material_type == 1 %}
            {% for image in material.images %}
                <img style="width: 200px;height: 150px;margin-right: 20px;margin-bottom: 10px;margin-top: 10px;" src="{{ image }}" class="pimg">
            {% endfor %}
        {% elif question.material_type == 2 %}
            {% for video in material.videos %}
                <video style="width: 400px;height: 400px" src="{{ video }}"  controls="controls">
                    您的浏览器不支持播放，请使用chrome
                </video>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
</div>

<div class="container text-center">
    <hr>
    <button id="btn-commit" class="btn btn-primary">提交答卷</button>
    <br>
</div>

<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>
</body>

</html>

<script>
    var user_id = "{{ user }}";
    var account = "{{ account }}";
    var exam_id = "{{ exam_id }}";

    // 是代表队，才监听答题进展
    if (account !== "") {
        $('.radio-option').on('click', function () {
           var radio = $(this);
           var question = radio.data('index');
           var answer = radio.val();
           $.ajax({
                url: "/exam/team-tick-answer",
                method: "POST",
                data: {exam: exam_id, account: account, question: question, answer: answer},
                success: function (msg) {
                },
                error: function(jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                }
            });
        });

        $('#btn-commit').on('click', function () {
            $.ajax({
                url: "/exam/team-submit-answer",
                method: "POST",
                data: {exam: exam_id, account: account},
                success: function (msg) {
                    window.location.href = "/exam/score?id="+msg+"&exam="+exam_id+"&account="+account;
                },
                error: function(jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                }
            });
        })
    } else {
        var answer = [];
        $('#btn-commit').on('click', function () {
            {% for question in questions %}
                {% with index=forloop.counter %}
                    var radio_check = $("[name='radio-question-{{ index }}']").filter(":checked");
                    var each_answer = radio_check.val();
                    if (radio_check.length === 0) {
                        each_answer = "0";
                    }
                    answer.push(each_answer);
                {% endwith %}
            {% endfor %}

            $.ajax({
                url: "/exam/ajax-post-answer",
                method: "POST",
                data: {answer: answer.join(","), user: user_id, exam: exam_id},
                success: function (msg) {
                    window.location.href = "/exam/score?id="+msg+"&exam="+exam_id+"&user="+user_id;
                },
                error: function(jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                }
            });
        })
    }
</script>

<script>
    $(function(){
        $(".pimg").click(function(){
            var _this = $(this);//将当前的pimg元素作为_this传入函数
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
        });
    });

    function imgShow(outerdiv, innerdiv, bigimg, _this){
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>").attr("src", src).on('load', (function(){
            var windowW = $(window).width();//获取当前窗口宽度
            var windowH = $(window).height();//获取当前窗口高度
            var realWidth = this.width;//获取图片真实宽度
            var realHeight = this.height;//获取图片真实高度
            var imgWidth, imgHeight;
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

            if(realHeight>windowH*scale) {//判断图片高度
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                    imgWidth = windowW*scale;//再对宽度进行缩放
                }
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
            } else {//如果图片真实高度和宽度都符合要求，高宽不变
                imgWidth = realWidth;
                imgHeight = realHeight;
            }
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
        }));

        $(outerdiv).on('click', (function(){//再次点击淡出消失弹出层
            $(this).fadeOut("fast");
        }));
    }

</script>