<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>在线答题</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'exam/bootstrap.min.css' %}" />
    <script src="{% static 'exam/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'exam/bootstrap.min.js' %}"></script>
    <script src="{% static 'exam/highcharts.js' %}"></script>
</head>

<body>
<div class="container text-center">
    <h1>{{ exam.title }}</h1>
</div>

<div class="container">
    {% for question in questions %}
        <label>{{ question.material_ids }}</label>
        {% for option in materials.1 %}
            <label class="radio-inline">
                <input type="radio"  value="1" name="options">{{ option }}
            </label>
        {% endfor %}
    {% endfor %}
</div>

</body>

</html>