<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>答题成绩</title>
    {% load staticfiles %}
    {% load dict_op %}
    <link rel="stylesheet" type="text/css" href="{% static 'exam/bootstrap.min.css' %}" />
    <script src="{% static 'exam/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'exam/bootstrap.min.js' %}"></script>
    <script src="{% static 'exam/highcharts.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

<div class="container text-center">
    <h2>答题成绩</h2>
</div>

<div class="container">
    <div id="chart-score" style="min-width:400px;height:400px"></div>
</div>

<div class="container text-center">
    <button id="btn-next" class="btn btn-primary">继续下一轮</button>
</div>

</body>

</html>

<script>
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    var count = {{ count }};
    var right = {{ right }};
    var chart = Highcharts.chart('chart-score', {
    chart: {
        spacing : [40, 0 , 40, 0]
    },
    title: {
        floating:true,
        text: '得分：'+ right
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        type: 'pie',
        innerSize: '80%',
        name: '正确情况',
        data: [
            ['正确',   right],
            ['错误',   count-right]
        ]
    }]
}, function(c) { // 图表初始化完毕后的会掉函数
    // 环形图圆心
    var centerY = c.series[0].center[1],
        titleHeight = parseInt(c.title.styles.fontSize);
    // 动态设置标题位置
    c.setTitle({
        y:centerY + titleHeight/2
    });
});

    var exam_id = {{ exam_id }};
    var account = "{{ account }}";
    var user_id = "{{ user }}";
    var btn_next = $('#btn-next');
    console.log(exam_id);
    if (exam_id === 3) {
        btn_next.hide();
    } else {
        btn_next.show();
    }
    var next_exam_id = exam_id+1;
    if (exam_id === 4) {
        next_exam_id = 1;
    }

    btn_next.on('click', function () {
        if (account !== "") {
            window.location.href = "/exam/answer?account="+account+"&exam="+next_exam_id;
        } else {
            window.location.href = "/exam/answer?user="+user_id+"&exam="+next_exam_id;
        }
    })
</script>